header {
  height: 50px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.nav-link {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: large;
}

.text-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-flex-content-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px;
}

.container-flex-content-between .card.bg-dark.text-white {
  height: 300px;
  width: 300px;
}

.container-flex-content-between .card-text {
  font-size: 25px;
}

h1,
p {
  font-family: "Alegreya Sans SC", sans-serif;
}

@media (max-width: 468px) {
  .container-flex-content-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 87px;
  }
  .container-flex-content-between .card-queofrecemos {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .container-flex-content-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card-queofrecemos {
    margin: 5px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #216b8f;
  height: 440px;
  padding: 20px;
}

.container-text {
  margin-top: 54px;
  margin-left: 55px;
  width: 50%;
  height: 70%;
  background-color: #dba35e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #216b8f;
}

.get-in-touch h1 {
  color: black;
  font-family: "Alegreya Sans SC", sans-serif;
}

.container-text-get-in-touch {
  margin: 30px;
  background-size: 60px;
}

.contact-information {
  background-color: #dba35e;
  width: 400px;
  height: 355px;
}

input {
  border: none;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn-submit {
  background-color: #216b8f;
  color: white;
  text-decoration: none;
  width: 100px;
}

.list-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.list-form li {
  padding: 10px;
}

.social-media {
  width: 50px;
  height: 50px;
}

img {
  width: 50px;
}

.text-social-media {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 30px;
}

.container-social-media {
  background-color: white;
  padding: 15px;
  border: 2px;
  border-radius: 50px 20px;
}

iframe {
  width: 300px;
  height: 300px;
}

p {
  font-size: 30px;
  color: black;
}

@media (min-width: 468px) and (max-width: 769px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 121%;
  }
  footer .container-social-media {
    margin: 10px;
  }
  footer .google-adress {
    margin: 10px;
  }
  .get-in-touch {
    width: 121%;
  }
}

@media (max-width: 467px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 119%;
  }
  .container-social-media {
    margin: 10px;
  }
  .google-adress {
    margin: 10px;
  }
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 600px;
}

.about-us .container-text h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 30px;
  margin: 40px;
}

.main-image-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutus-image {
  height: 50%;
  width: 50%;
}

.container-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -33px;
  margin-left: 50px;
  width: 50%;
  height: 99%;
}

@media (max-width: 468px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 30px;
  }
  .about-us .container-text h1 {
    font-size: 5vw;
  }
  .container-image {
    margin-top: 15px;
    width: 85%;
    height: 85%;
  }
  .aboutus-image {
    margin-left: -1px;
    margin-bottom: 15px;
    height: 70%;
    width: 70%;
  }
  .container-text {
    margin: auto;
  }
}

@media (min-width: 467px) and (max-width: 769) {
  .aboutus-image {
    height: 54%;
    width: 109%;
  }
}

.background-video {
  position: relative;
  height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

video {
  width: 100%;
}

@media (min-width: 468px) and (max-width: 768px) {
  .background-video::before {
    width: 100%;
  }
  video {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .background-video::before {
    width: 140%;
  }
  video {
    width: 140%;
  }
}

@media (max-width: 467px) {
  video {
    width: 137%;
  }
}

.carousel-inner {
  padding: 50px;
}

@media (max-width: 768px) {
  .carousel-inner {
    margin-left: 70px;
  }
}

.question > input {
  height: 100px;
  width: 250px;
}

.animate__animated.animate__fadeInLeft {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}
/*# sourceMappingURL=styles.css.map */