header {
  height: 50px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.nav-link {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: large;
}

.logo-fixed {
  position: fixed;
  z-index: 2;
}

.contacto-fixed {
  position: fixed;
  z-index: 2;
  right: 1%;
  top: 90%;
}

.text-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-flex-content-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px;
}

.container-flex-content-between .card.bg-dark.text-white {
  height: 300px;
  width: 300px;
}

h3, p {
  font-family: 'Alegreya Sans SC', sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #216b8f;
  height: 440px;
  padding: 20px;
}

.container-text {
  margin-top: 54px;
  margin-left: 55px;
  width: 50%;
  height: 70%;
  background-color: #dba35e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #216b8f;
}

.get-in-touch h1 {
  color: black;
  font-family: "Alegreya Sans SC", sans-serif;
}

.container-text-get-in-touch {
  margin: 30px;
  background-size: 60px;
}

.contact-information {
  background-color: #dba35e;
  width: 400px;
  height: 355px;
}

input {
  border: none;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn-submit {
  background-color: #216b8f;
  color: white;
  text-decoration: none;
  width: 100px;
}

.list-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.list-form li {
  padding: 10px;
}

.social-media {
  width: 50px;
  height: 50px;
}

img {
  width: 50px;
}

.text-social-media {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 30px;
}

.container-social-media {
  background-color: white;
  padding: 15px;
  border: 2px;
  border-radius: 50px 20px;
}

iframe {
  width: 300px;
  height: 300px;
}

p {
  font-size: 30px;
  color: black;
}

.animate__animated.animate__backInDown {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.background-video {
  position: relative;
  height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background-video::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.aboutus-image {
  height: 70%;
  width: 80%;
}

a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

video {
  width: 100%;
}

.main-image-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 600px;
}

.about-us .container-text h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 30px;
  margin: 40px;
}

.container-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -33px;
  margin-left: 50px;
  width: 50%;
  height: 99%;
}

.carousel-inner {
  padding: 50px;
}

.question > input {
  height: 100px;
  width: 250px;
}

.animate__animated.animate__fadeInLeft {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}
/*# sourceMappingURL=styles.css.map */