.about-us {
    display: flex;
    justify-content: space-between;
    height: 600px;
  }
  .about-us .container-text h1 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 30px;
    margin: 40px;
  }
  .main-image-about-us {
    display: flex;
    justify-content: center;
  }

  .aboutus-image {
    height: 70%;
    width: 80%;
  }
  