.about-us {
  display: flex;
  justify-content: space-between;
  height: 600px;
}
.about-us .container-text h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 30px;
  margin: 40px;
}
.main-image-about-us {
  display: flex;
  justify-content: center;
}

.aboutus-image {
  height: 50%;
  width: 50%;
}
.container-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -33px;
  margin-left: 50px;
  width: 50%;
  height: 99%;
}

.text-about-us{
display: flex;
justify-content: center;
margin-top: 50px;
}

@media (max-width: 468px) {
  .about-us {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    margin-top: 30px;
  }
  .about-us .container-text h1 {
    font-size: 5vw;
  }
  .container-image {
    margin-top: 15px;
    width: 85%;
    height: 85%;
  }
  .aboutus-image {
    margin-left: -1px;
    margin-bottom: 15px;
    height: 70%;
    width: 70%;
  }
  .container-text {
    margin: auto;
  }
}


@media (min-width:467px) and (max-width:769) {
  .aboutus-image {
    height: 54%;
    width: 109%;
  }
}