footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #216b8f;
    height: 440px;
  }

  .container-text {  
    margin-top: 54px;
    margin-left: 55px;
    width: 50%;
    height: 70%;
    background-color: #dba35e;
    display: flex;
    align-items: center;
  }
  .get-in-touch {
    display: flex;
    justify-content: center;
    background-color: #216b8f;
  }
  .get-in-touch h1 {
    color: black;
  }

  .container-text-get-in-touch {
    margin: 30px;
    background-size: 60px;
  }
  .contact-information {
    background-color: #dba35e;
    width: 400px;
    height: 355px;
    margin-left: 105px;
  }
  input {
    border: none;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .btn-submit {
    background-color: #216b8f;
    color: white;
    text-decoration: none;
    width: 100px;
  }
  .list-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
        li {
            padding: 10px;
        }
  }
  .social-media {
    width: 50px;
    height: 50px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }