$principal-font: "Alegreya Sans SC", sans-serif;

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #216b8f;
  height: 440px;
  padding: 20px;
}

.container-text {
  margin-top: 54px;
  margin-left: 55px;
  width: 50%;
  height: 70%;
  background-color: #dba35e;
  display: flex;
  align-items: center;
}
.get-in-touch {
  display: flex;
  justify-content: center;
  background-color: #216b8f;
}
.get-in-touch h1 {
  color: black;
  font-family: $principal-font;
}

.container-text-get-in-touch {
  margin: 30px;
  background-size: 60px;
}
.contact-information {
  background-color: #dba35e;
  width: 400px;
  height: 355px;
}
input {
  border: none;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.btn-submit {
  background-color: #216b8f;
  color: white;
  text-decoration: none;
  width: 100px;
}
.list-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  li {
    padding: 10px;
  }
}
.social-media {
  width: 50px;
  height: 50px;
}

img {
  width: 50px;
}

.text-social-media {
  font-family: $principal-font;
  font-size: 30px;
}

.container-social-media {
  background-color: white;
  padding: 15px;
  border: 2px;
  border-radius: 50px 20px;
}

iframe {
  width: 300px;
  height: 300px;
}
p {
  font-size: 30px;
  color: black;
}

@media (min-width: 468px) and (max-width: 769px) {
  footer {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 121%;
    .container-social-media {
      margin: 10px;
    }
    .google-adress {
      margin: 10px;
    }
  }
  .get-in-touch {
    width: 121%;
  }
}

@media (max-width: 467px) {
  footer {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 119%;
  }
  .container-social-media {
    margin: 10px;
  }
  .google-adress {
    margin: 10px;
  }

}
