header{
  height: 50px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}


.nav-link{
  font-family: 'Alegreya Sans SC', sans-serif;  
}

.logo-fixed {
  position: fixed;
  z-index: 2;
}

.contacto-fixed {
  position: fixed;
  z-index: 2;
  right: 1%;
  top: 90%;
}

