.background-video {
    position: relative;
    height: 110%;
    display: flex;
    justify-content: center;
    z-index: -1;
  }

  video {
    width: 100%;
  }

  @media (min-width: 468px) and (max-width:768px) {
    .background-video::before{
        width: 100%;
    }
    video {
        width: 100%;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) { 
    .background-video::before{
        width: 140%;
    }
    video {
        width: 140%;
    }
    
  }